bin/
obj/
out/
[Bb]uild/
[Ll]og/

*.user
*.suo
*.userosscache
*.sln.docstates
*.vspscc
*.vssscc

.vscode/
.vs/

*.nupkg
packages/
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

*.dbmdl
*.psess
*.vsp
*.vspx
*.vsmdi
*.testsettings
*.csproj.user

migrations/*Designer.cs
migrations/*Snapshot.cs
migrations/bin/
migrations/obj/

*.mdf
*.ldf
*.sqlite
*.db
*.bak

*.log
logs/

appsettings.Development.json
secrets.json
*.pfx
*.key
*.cer

.idea/
*.DotSettings.user

TestResults/
*.trx
*.coverage
*.coveragexml

Thumbs.db
.DS_Store
ehthumbs.db
desktop.ini
