/*

(EN)
This file contains the configuration for the
components. mostly used as the base or default styles.
to customize how they look, i use tailwind to
apply utility classes to override the styles here.

(TL-PH / Tagalog)
Ang file na ito ay naglalaman ng configuration
para sa mga component. Karaniwan itong ginagamit
bilang base o default na estilo (styles).
Para i-customize ang itsura nila, ginagamit ko
ang Tailwind para mag-apply ng utility classes
na nagsasapaw sa mga style dito.

*/

@theme inline {
  /* light mode | no preference */

  /* Non color stuff */
  --radius-base: 4px;
  --radius-sharp: 0px;
  --radius-moderate: 4px;
  --radius-input: 8px;

  /* Colors */
  --color-primary: oklch(80% 0 0);
  --color-secondary: oklch(40% 0 0); /*  */
  --dim-muted: 80%; /* when stuff is disabled, it dims by 20% */

  /* Used for color blending between primary and secondary */
  --color-blend: oklch(60% 0 0); /* somewhere in between */

  --color-main: oklch(10% 0 0); /* main foreground */
  --color-subtle: oklch(65% 0 0); /* like... subtle... */

  --color-shadow: oklch(30% 100 / 0.08); /* primary shadow */
  --color-shadow-blend: oklch(40% 90 / 0.08); /* secondary/blend shadow */

  /* User feedback, good feedback may induce serotonin. */
  --color-accent: oklch(70% 0.4 290deg);
  --brightness-highlight: 120%;
}

@media (prefers-color-scheme: dark) {
  @theme inline {
    /* dark mode overrides */
    --color-primary: oklch(20% 0 0);
    --color-secondary: oklch(60% 0 0);
    --color-muted: oklch(
      55% 0 0
    ); /* background for like disabled... stuff... */

    /* Used for color blending between primary and secondary */
    --color-blend: oklch(40% 0 0); /* somewhere in between */

    --color-main: oklch(90% 0 0); /* main foreground */
    --color-subtle: oklch(35% 0 0); /* like... subtle... */

    --color-shadow: oklch(100% 100 / 0.08); /* primary shadow */
    --color-shadow-blend: oklch(
      80% 90 / 0.08
    ); /* acts like secondary shadow. for blending. */
  }
}
