@import "./theme.css";

@layer base {
  * {
    color: var(--color-main);
    border-color: var(--color-main);
  }

  textarea {
    resize: none;
    overflow-y: hidden;
    height: max-content;
  }

  /* This should be set explicitly. */
  input:focus,
  textarea:focus {
    outline: none;
  }

  input {
    padding: 0;
    padding-inline: 0;
  }

  /* remove the increment/decrement icon thing. it pains me to look at it. */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }

  a:hover,
  a:visited {
    color: var(--color-accent);
  }
}
