@import "./theme.css";

@layer base {
  * {
    color: var(--color-main);
    border-color: var(--color-main);
  }

  textarea {
    resize: none;
    overflow-y: hidden;
    height: max-content;
  }

  /* This should be set explicitly. */
  input:focus,
  textarea:focus {
    outline: none;
  }

  input {
    padding: 0;
    padding-inline: 0;
  }

  a:hover,
  a:visited {
    color: var(--);
  }
}
