<template id="choice-tile">
    <div class="choice-tile">
      <input type="text" class="choice-text" placeholder="Choice Text" />
      <button class="remove-choice-button">Remove</button>
    </div>
</template>    
<style>
  @layer components {
    .choice-text:placeholder-shown {
      color: var(--text-muted);
    }
  }
</style>
